html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}


.header-container {
    padding: 10px;
}

.disf {
    display: flex;
}

.logo-text {
    width: 400px;
    display: flex;
    justify-content: space-between;
}

.navigation {

    justify-content: space-evenly;
    align-items: center;
    background: #83a4d4;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #b6fbff, #83a4d4);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #b6fbff, #83a4d4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    

}

.navigation h3 {
    margin-top: 50px;
    margin-left: -100px;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;

}


.logo {
    height: 100px;
    width: 100px;
}

.navbar {
    justify-content: space-around;
    align-items: center;
    width: 500px;
}

.navbar-li a {
    color: #ffffff;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
}

/* .navbar-li {
    position: relative;
}

.navbar-li:hover {
S
    box-shadow: 0 5px 35px 0px rgba(0, 0, 0, .1);
}

.navbar-li:hover::before,
.navbar-li:hover::after {
    display: block;
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    background: #FDA8CF;
    border-radius: 75px;
    z-index: -1;
    animation: 1s clockwise infinite;
}

.navbar-li:hover:after {
    background: #F3CE5E;
    animation: 2s counterclockwise infinite;
}

@keyframes clockwise {
    0% {
        top: -5px;
        left: 0;
    }

    12% {
        top: -2px;
        left: 2px;
    }

    25% {
        top: 0;
        left: 5px;
    }

    37% {
        top: 2px;
        left: 2px;
    }

    50% {
        top: 5px;
        left: 0;
    }

    62% {
        top: 2px;
        left: -2px;
    }

    75% {
        top: 0;
        left: -5px;
    }

    87% {
        top: -2px;
        left: -2px;
    }

    100% {
        top: -5px;
        left: 0;
    }
}

@keyframes counterclockwise {
    0% {
        top: -5px;
        right: 0;
    }

    12% {
        top: -2px;
        right: 2px;
    }

    25% {
        top: 0;
        right: 5px;
    }

    37% {
        top: 2px;
        right: 2px;
    }

    50% {
        top: 5px;
        right: 0;
    }

    62% {
        top: 2px;
        right: -2px;
    }

    75% {
        top: 0;
        right: -5px;
    }

    87% {
        top: -2px;
        right: -2px;
    }

    100% {
        top: -5px;
        right: 0;
    }
}
 */

/* ======================= */
/* Slideshow container */
.slideshow-container {
    max-width: 100%;
    height: 600px;
    position: relative;
    margin: 5px;
}

.img {
    width: 100%;
    height: 600px;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
    color: #f2f2f2;
    font-size: 35px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    text-transform: capitalize;

}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #717171;
}

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {

    .prev,
    .next,
    .text {
        font-size: 11px
    }
}

/* =================Section===================== */

.section1 {
    margin-top: 20px;

}

.infotext {
    margin-bottom: 10px;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    border-bottom: 2px solid red;
    font-family: 'Montserrat', sans-serif;
    padding: 15px;
}

.main-box {

    padding: 20px;
    background: #ECE9E6;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFFFFF, #ECE9E6);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFFFFF, #ECE9E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
   
}


.box-info {
    width: 400px;
    height: 400px;
    margin: 15px;
    position: relative;
    box-shadow: -4px 3px 22px -4px rgba(0, 0, 0, 1);
    border-radius: 50%;
    


}

.bckgr-box {

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}




.parent-boxes {
    justify-content: space-between;
    flex-wrap: wrap;
    width: 85%;
    margin: 0 auto;

}

.parent-boxes :nth-child(1) {

    background-image: url(../IMG/Mestia.jpg);


}


.parent-boxes :nth-child(2) {
    background-image: url(../IMG/Ushguli.jpg);

}

.parent-boxes :nth-child(3) {

    background-image: url(../IMG/kazbegi.jpg);

}

.parent-boxes :nth-child(4) {

    background-image: url(../IMG/toba.jpg);

}

.parent-boxes :nth-child(5) {

    background-image: url(../IMG/bakhmaro.jpg);

}

.parent-boxes :nth-child(6) {

    background-image: url(../IMG/gomismta.jpg);

}

/* .parent-boxes :nth-child(7) {

    background-image: url(../IMG/Juta1.jpg);


}

.parent-boxes :nth-child(8) {
    background-image: url(../IMG/Gudauri.jpg);
}

.parent-boxes :nth-child(9) {
    background-image: url(../IMG/Mountain.jpg);
} */




/* .MM {
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    padding: 15px;
    border-top: 2px solid red;
    border-bottom: 2px solid red;
    border-radius: 50%;
}

.MM h3 {
    font-size: 50px;
    font-weight: bold;
    color: crimson; */

/* } */

/*==================Section2===========================*/
.destination-containter {
    height: 600px;
    width: 100%;
    background-color: cornflowerblue;
    background-attachment: fixed;
    background-image: url(../IMG/Bck.jpg);
    background-position: top;
    justify-content: center;
    align-items: center;
}

.title {
    color: #ffffff;
    letter-spacing: 0px;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    font-size: 40px;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.4;
    text-transform: uppercase;
    border-bottom: 2px solid red;
    border-width: 6px thick;
}

.btn-box {
    justify-content: center;
    margin-top: 100px;
}

.btn {
    background-color: red;
    border: none;
    color: #ffffff;
    text-align: center;
    width: 250px;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    cursor: pointer;
    box-sizing: border-box;
    text-transform: uppercase;
    margin-left: 15px;



}

/* ================Section 3======================= */
.tours-box-dest {
    width: 100%;
    display: flex;
}




.tours-title {
    background-color: #ffffff;
    width: 30%;
    flex-direction: column;
    flex-wrap: wrap;
}

.text-box-dir h3 {
    font-size: 40px;
    width: 70%;
    padding: 10px;
    font-weight: bolder;
    font-family: 'Montserrat', sans-serif;
    border-bottom: 2px solid red;
    border-width: thick 6px;
}

/* .destinations-box {
    font-size: 40px;
    margin-left: 20px;
    
} */
.dest-list li {
    font-size: 25px;
    margin: 15px 35px 35px 5px;
    padding: 15px;
}
.direction-boxes {
    width: 70%;
    padding: 10px;
    flex-wrap: wrap;
    background: #1c92d2;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #f2fcfe, #1c92d2);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #f2fcfe, #1c92d2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    
}
.small-box-img 
{
    width: 50%;
    height: 400px;
    margin-bottom: 10px;
    box-sizing: border-box;

}

.imgbox {
    width: 531px;
    height: 400px;
    box-shadow: 7px 6px 35px -4px rgba(36,34,36,1);
    border-radius: 50%;
}
/* =============Footer================ */

.footer-wrapper {
    width: 100%;
    height: 400px;
    justify-content: center;
    align-items: center;
}
.footer-info-box {
    /* background-image: linear-gradient(190deg, #c0aeee,#94e9e5); */
    background: #4CA1AF;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #C4E0E5, #4CA1AF);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #C4E0E5, #4CA1AF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    
    
    
    
    
    width: 100%;
    height: 400px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.footer-info-box h3,p {
    color: #ffff;
    margin-bottom: 20px;
}
.soclial-box {
    width: 5%;
    display: flex;
    flex-direction: column;
    padding: 10px;
    /* background-image: linear-gradient(90deg, #c0aeee,#94e9e5); */
    background: #4CA1AF;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #C4E0E5, #4CA1AF);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right,  #4CA1AF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */   
    border: none;
    height: 400px;
}
a .soc-net {
    font-size: 50px;

    margin-bottom: 25px;
}

a .soc-net:nth-of-type(2) {
 color: #e63946 ;
}
a .soc-net:nth-of-type(3) {
 color: #00b4d8 ;

}
a .soc-net:nth-of-type(4) {
    color: #e63946 ;
   
   }


