html,
body {
    width: 100%;
    height: 100%;
    font-family: Verdana, sans-serif;
    margin: 0
}


.header-container {
    padding: 10px;
}

.disf {
    display: flex;
}
.logo-text {
    width: 400px;
    display: flex;
    justify-content: space-between;}

.navigation {

    justify-content: space-evenly;
    align-items: center;
 
}

.navigation h3 {
    margin-top: 50px;
    margin-left: -100px;

}


.logo {
    height: 100px;
    width: 100px;
}

.navbar {
    justify-content: space-around;
    align-items: center;
    width: 500px;
}
.navbar-li a {
    color:#00d4ff;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
/* .navbar-li {
    position: relative;
}
.navbar-li:hover {

        box-shadow: 0 5px 35px 0px rgba(0,0,0,.1);
    }
.navbar-li:hover::before, .navbar-li:hover::after {
        display: block;
        content: '';
        position: absolute;
        width: 20px;
        height: 20px;
        background: #FDA8CF;
        border-radius: 75px;
        z-index: -1;
        animation: 1s clockwise infinite;
      }
      
      .navbar-li:hover:after {
        background: #F3CE5E;
        animation: 2s counterclockwise infinite;
      }
      
      @keyframes clockwise {
        0% {
          top: -5px;
          left: 0;
        }
        12% {
          top: -2px;
          left: 2px;
        }
        25% {
          top: 0;
          left: 5px;    
        }
        37% {
          top: 2px;
          left: 2px;
        }
        50% {
          top: 5px;
          left: 0;    
        }
        62% {
          top: 2px;
          left: -2px;
        }
        75% {
          top: 0;
          left: -5px;
        }
        87% {
          top: -2px;
          left: -2px;
        }
        100% {
          top: -5px;
          left: 0;    
        }
      }
      
      @keyframes counterclockwise {
        0% {
          top: -5px;
          right: 0;
        }
        12% {
          top: -2px;
          right: 2px;
        }
        25% {
          top: 0;
          right: 5px;    
        }
        37% {
          top: 2px;
          right: 2px;
        }
        50% {
          top: 5px;
          right: 0;    
        }
        62% {
          top: 2px;
          right: -2px;
        }
        75% {
          top: 0;
          right: -5px;
        }
        87% {
          top: -2px;
          right: -2px;
        }
        100% {
          top: -5px;
          right: 0;    
        }
      }
 */

/* ======================= */
/* Slideshow container */
.slideshow-container {
    max-width: 100%;
    height: 600px;
    position: relative;
    margin: 5px;
}

.img {
    width: 100%;
    height: 600px;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
    color: #f2f2f2;
    font-size: 35px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-transform: capitalize;
   
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #717171;
}

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {

    .prev,
    .next,
    .text {
        font-size: 11px
    }
}

/* =================Section===================== */

.section1 {
    margin-top: 20px;

}

.infotext {
    margin-bottom: 10px;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    border-bottom: 2px solid red;
    font-family: Arial, Helvetica, sans-serif;
    padding: 15px;
}




.box-info {
    width: 400px;
    height: 400px;
    margin: 15px;
    position: relative;
    box-shadow: -4px 3px 22px -4px rgba(0,0,0,1);
    border-radius: 50%;
    

}
.bckgr-box {
    background-color: wheat;
    background-image: url(../IMG/Gudauri.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.text-box-info {
    position: absolute;
    display: none;
    color: red;
}

.text-box-info:hover {
    display: block;
}

.parent-boxes {
    justify-content: space-between;
    flex-wrap: wrap;
    
}

.info :nth-child(2) {
    background-color: wheat;
    background-image: url(../IMG/Ushguli.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.info :nth-child(3) {
    background-color: wheat;
    background-image: url(../IMG/kazbegi.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.info :nth-child(4) {
    background-color: wheat;
    background-image: url(../IMG/toba.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.info :nth-child(5) {
    background-color: wheat;
    background-image: url(../IMG/bakhmaro.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.info :nth-child(6) {
    background-color: wheat;
    background-image: url(../IMG/gomismta.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.info :nth-child(7) {
    background-color: wheat;
    background-image: url(../IMG/Juta1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.MM {
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    padding: 15px;
    border-top: 2px solid red;
    border-bottom: 2px solid red;
    border-radius: 50%;
}
.MM h3 {
    font-size: 50px;
    font-weight: bold;
    color: crimson;

}